<div class="gallery-container">
    <div #listContainer class="list-container" (scroll)="onScroll()">
        <mat-grid-list [cols]="cols" [gutterSize]="'4px'" rowHeight="3:2">
            <mat-grid-tile *ngFor="let tile of shownTiles; index as i" [rowspan]="tile.rows" [colspan]="tile.cols">
                <img src="{{tile.preview}}" (click)="showLightbox(i)" loading="lazy">
            </mat-grid-tile>
        </mat-grid-list>
        <span *ngIf="!atTop" class="to-top-holder">
            <button class="to-top-button" (click)="scrollToTop()"><mat-icon svgIcon="chevron-up"></mat-icon></button>
        </span>
    </div>
    <button class="sort-button" (click)="nextSort()">Sorted by {{sortText}}<mat-icon class="sort-icon" svgIcon="{{sortIcon}}"></mat-icon></button>
</div>
<app-lightbox #lightbox [photos]="shownTiles" (moreRequested)="loadImageChunk()"></app-lightbox>