<div class="gallery-container">
    <div class="list-container">
        <mat-grid-list [cols]="cols" [gutterSize]="'4px'" rowHeight="3:2">
            <mat-grid-tile *ngFor="let tile of sortedTiles; index as i" [rowspan]="tile.rows" [colspan]="tile.cols">
                <img src="{{tile.preview}}" (click)="showLightbox(i)">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <button class="sort-button" (click)="nextSort()">Sorted by {{sortText}}<mat-icon class="sort-icon" svgIcon="{{sortIcon}}"></mat-icon></button>
</div>
<app-lightbox #lightbox [photos]="photoTiles"></app-lightbox>