mat-grid-list {
    width: 100%;
    overflow: show;

    mat-grid-tile {
        border-radius: 4px;

        img {
            cursor: pointer;
            height: 100%;
            object-fit: cover;
            transition: all ease-out 0.2s;
            width: 100%;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.sort-button {
    position: absolute;
    bottom: 4px;
    right: 25px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: lightskyblue;
    color: white;

    .sort-icon {
        margin-left: 4px;
    }
}

.to-top-holder {
    position: absolute;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: calc(100% - 21px);

    &.narrow-device {
        width: calc(50% - 21px);
    }

    .to-top-button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 4px;
        background-color: lightskyblue;
        color: white;
        pointer-events: all;
    
        .sort-icon {
            margin-left: 4px;
        }
    }
}

.gallery-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.list-container {
    overflow: auto;
    height: 100%;
    padding-right: 4px;
}