.navbar {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 4vh;

    div.button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.margin {
            margin-right: 5px;
        }

        background-color: transparent;
        border-color: lightgrey;
        border-style: none none solid;
        font-weight: 600;
        width: 8rem;

        &.active {
            border-color: lightskyblue;
        }

        &:hover {
            border-color: dodgerblue;
        }
    }
}