<div class="navbar">
    <div class="button border-button margin" [class.active]="active === 'astro-gallery'" (click)="navTo('astro-gallery')">
        <p>🌌 Astrophotography</p>
    </div>
    <div class="button border-button margin" [class.active]="active === 'gallery'" (click)="navTo('gallery')">
        <p>📷 Film Photography</p>
    </div>
    <div class="button border-button" [class.active]="active === 'minesweeper'" (click)="navTo('minesweeper')">
        <p>💣 Minesweeper</p>
    </div>
</div>
