<div class="lightbox-container hidden" [class.hidden]="!_show">
    <button (click)="prevPhoto()">
        <mat-icon svgIcon="chevron-left"></mat-icon>
    </button>
    <div class="image-box">
        <img *ngFor="let photo of photos; index as i" [class.hidden]="cur !== i" src="{{photo.src}}">
    </div>
    <button (click)="nextPhoto()">
        <mat-icon svgIcon="chevron-right"></mat-icon>
    </button>
    <button class="exit" (click)="hide()">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>
