.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

app-gallery {
    width: 61vw;
    height: calc(96vh - 1rem - 4px);
    overflow: auto;
    margin: 1rem 0 4px;
    padding-right: 4px;
}