/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;

    .page-body {
        height: 100vh;
        display: grid;
        grid-template-rows: 4vh 1fr;
    }
}

mat-icon {
    display:inline;
}
