/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;

    .page-body {
        height: 100vh;
        display: grid;
        grid-template-rows: 4vh 1fr;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
      
    ::-webkit-scrollbar-track {
        background: lightgrey;
        border-radius: 25px;
    }
      
    ::-webkit-scrollbar-thumb {
        background: lightskyblue;
        border-radius: 25px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: dodgerblue;
    }

    // firefox doesn't support webkit scrollbar so this is pretty much all the customization :(
    scrollbar-color: lightskyblue lightgrey;
}

mat-icon {
    display:inline;
}

button {
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

app-gallery {
    border-radius: 4px;
    height: calc(96vh - 1rem - 4px);
    margin: 1rem 0 4px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 4px;
    width: 61vw;

    @media screen and (max-width: 1100px) {
        width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 800px) {
    .hide-when-small {
        display: none;
    }
    .hide-when-large {
        display: inherit;
    }
}

@media screen and (min-width: 800px) {
    .hide-when-small {
        display: inherit;
    }
    .hide-when-large {
        display: none;
    }
}